In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

path = "C:/Users/amogh/Desktop/SBMP/6th sem/Project/Dataset/Crops/finalcrop.csv"
df_Temp = pd.DataFrame()
df_Csv = pd.read_csv(path)
df_Csv = df_Csv.astype({"Crop_Year": "int64"})
df_Csv = df_Csv.dropna(how="any")

filter1 = df_Csv["Yield"] >= 0.1 
filter2 = df_Csv["Area"] > 25.0
df_Csv.where(filter1 & filter2, inplace=True)
df_Csv = df_Csv.dropna(how="all")

df_Csv = df_Csv.drop("Sr No.", axis=1)

In [2]:
def iqrClean(data_List):
    """
    Summary:
            To clean outliers from data using IQR, more accurate

    Arguments:
            data_List {list} -- Sub-setted village-wise list

    Returns:
            data_List {list} -- Cleaned list subset
    """
    
    sorted(data_List)  # Sort data to find IQR

    lower_Quartile, upper_Quartile = np.percentile(
        data_List, [10, 90])  # Finding upper and lower quartile
    iqr = upper_Quartile - lower_Quartile  # Finding inter-quartile range
    lower_Bound = lower_Quartile - (iqr * 2)  # Find lower bound/level
    upper_Bound = upper_Quartile + (iqr * 2)  # Find upper bound/level

    for data in range(0, len(data_List)):   # To iterate over whole data_List
        # Check if data is out of bounds
        if (data_List[data] > upper_Bound) | (data_List[data] < lower_Bound):
            data_List[data] = np.nan  # Make out of bounds data Nan

    return data_List  # Return Data List

In [5]:
df_Csv.head()

,Sr No.,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield
0,0,Maharashtra,AHMEDNAGAR,1997,autumn,Maize,1.0,1113.0,1113.000000
1,1,Maharashtra,AHMEDNAGAR,1997,kharif,Arhar/Tur,17600.0,6300.0,0.357955
2,2,Maharashtra,AHMEDNAGAR,1997,kharif,Bajra,274100.0,152800.0,0.557461
3,3,Maharashtra,AHMEDNAGAR,1997,kharif,Gram,40800.0,18600.0,0.455882
4,4,Maharashtra,AHMEDNAGAR,1997,kharif,Jowar,900.0,1100.0,1.222222

In [6]:
df_Csv.describe()

             Sr No.     Crop_Year           Area    Production         Yield
count  12628.000000  12628.000000   12628.000000  1.249600e+04  12496.000000
mean    6313.500000   2005.230519   25515.223076  1.011236e+05      4.367613
std     3645.533934      5.047317   59098.998465  7.303716e+05     29.786178
min        0.000000   1997.000000       1.000000  0.000000e+00      0.000000
25%     3156.750000   2001.000000     500.000000  3.000000e+02      0.410600
50%     6313.500000   2005.000000    3400.000000  2.600000e+03      0.687607
75%     9470.250000   2010.000000   23100.000000  2.160000e+04      1.226534
max    12627.000000   2014.000000  726300.000000  2.004970e+07   1494.000000

In [36]:
df_Csv = df_Csv.dropna(how="any")

In [37]:
df_Csv.describe()

             Sr No.     Crop_Year           Area    Production         Yield
count  12496.000000  12496.000000   12496.000000  1.249600e+04  12496.000000
mean    6305.602833   2005.177977   25783.133563  1.011236e+05      4.367613
std     3642.305959      5.012958   59352.520458  7.303716e+05     29.786178
min        0.000000   1997.000000       1.000000  0.000000e+00      0.000000
25%     3151.750000   2001.000000     500.000000  3.000000e+02      0.410600
50%     6301.500000   2005.000000    3600.000000  2.600000e+03      0.687607
75%     9454.250000   2010.000000   23400.000000  2.160000e+04      1.226534
max    12627.000000   2014.000000  726300.000000  2.004970e+07   1494.000000

In [3]:
dist_List = df_Csv.District_Name.unique()
crop_List = df_Csv.Crop.unique()

for i in dist_List:
    for j in crop_List:
        df_Sub = df_Csv[(df_Csv.District_Name == i) & (df_Csv.Crop == j)]
        df_Sub_Dict = df_Sub.to_dict("list")
        
        if len(df_Sub_Dict["Yield"]) > 5:
            df_Sub_Dict["Yield"] = iqrClean(df_Sub_Dict["Yield"])
            df_Temp = df_Temp.append(df_Temp.from_dict(
            df_Sub_Dict))

In [30]:
df_Temp = df_Temp.dropna(how="any")
df_Temp = df_Temp.reset_index(drop=True)
df_Temp.to_csv("C:/Users/amogh/Desktop/SBMP/6th sem/Project/Dataset/Crops/finalcrop1.csv")

In [28]:
df_Sub1 = df_Temp[df_Temp.Crop == "Sugarcane"]
df_Sub1.describe()

         Crop_Year           Area    Production       Yield
count   444.000000     444.000000  4.440000e+02  444.000000
mean   2006.051802   25695.454955  2.113236e+06   71.445801
std       4.938404   34937.682685  3.269477e+06   17.685204
min    1997.000000      28.000000  1.653000e+03    0.803486
25%    2002.000000    1900.000000  1.133750e+05   61.292260
50%    2007.000000   11750.000000  7.956000e+05   71.196078
75%    2010.000000   37000.000000  2.408850e+06   83.587618
max    2014.000000  205500.000000  2.004970e+07  132.940594

NameError: name 'Index' is not defined

In [95]:
df_Csv.head(600)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield
1,Maharashtra,AHMEDNAGAR,1997.0,kharif,Arhar/Tur,17600.0,6300.0,0.357955
2,Maharashtra,AHMEDNAGAR,1997.0,kharif,Bajra,274100.0,152800.0,0.557461
3,Maharashtra,AHMEDNAGAR,1997.0,kharif,Gram,40800.0,18600.0,0.455882
4,Maharashtra,AHMEDNAGAR,1997.0,kharif,Jowar,900.0,1100.0,1.222222
5,Maharashtra,AHMEDNAGAR,1997.0,kharif,Maize,4400.0,4700.0,1.068182
7,Maharashtra,AHMEDNAGAR,1997.0,kharif,Pulses total,451.0,130.0,0.288248
8,Maharashtra,AHMEDNAGAR,1997.0,kharif,Ragi,2600.0,2100.0,0.807692
9,Maharashtra,AHMEDNAGAR,1997.0,kharif,Rice,5900.0,7200.0,1.220339
10,Maharashtra,AHMEDNAGAR,1997.0,kharif,Sugarcane,45900.0,38940.0,0.848366
11,Maharashtra,AHMEDNAGAR,1997.0,kharif,Total foodgrain,3384.0,1836.0,0.542553
12,Maharashtra,AHMEDNAGAR,1997.0,kharif,Urad,1600.0,800.0,0.500000
13,Maharashtra,AHMEDNAGAR,1997.0,rabi,Jowar,598400.0,217000.0,0.362634
14,Maharashtra,AHMEDNAGAR,1997.0,rabi,Maize,6200.0,9100.0,1.467742
16,Maharashtra,AHMEDNAGAR,1997.0,rabi,Wheat,79700.0,87100.0,1.092848
17,Maharashtra,AHMEDNAGAR,1997.0,kharif,Maize,1100.0,1900.0,1.727273
18,Maharashtra,AHMEDNAGAR,1997.0,Whole Year,Cotton(lint),98.0,17900.0,182.653061
19,Maharashtra,AHMEDNAGAR,1998.0,kharif,Arhar/Tur,18800.0,9700.0,0.515957
20,Maharashtra,AHMEDNAGAR,1998.0,kharif,Bajra,302400.0,243900.0,0.806548
21,Maharashtra,AHMEDNAGAR,1998.0,kharif,Castor seed,400.0,100.0,0.250000
22,Maharashtra,AHMEDNAGAR,1998.0,kharif,Cotton(lint),12100.0,19900.0,1.644628
23,Maharashtra,AHMEDNAGAR,1998.0,kharif,Groundnut,7100.0,6200.0,0.873239
24,Maharashtra,AHMEDNAGAR,1998.0,kharif,Jowar,300.0,500.0,1.666667
25,Maharashtra,AHMEDNAGAR,1998.0,kharif,Maize,5800.0,12500.0,2.155172
26,Maharashtra,AHMEDNAGAR,1998.0,kharif,Moong(Green Gram),15600.0,9100.0,0.583333
27,Maharashtra,AHMEDNAGAR,1998.0,kharif,Niger seed,2100.0,900.0,0.428571
28,Maharashtra,AHMEDNAGAR,1998.0,kharif,Other Cereals & Millets,4100.0,2400.0,0.585366
29,Maharashtra,AHMEDNAGAR,1998.0,kharif,Other Kharif pulses,16800.0,7000.0,0.416667
30,Maharashtra,AHMEDNAGAR,1998.0,kharif,Ragi,3000.0,2100.0,0.700000
31,Maharashtra,AHMEDNAGAR,1998.0,kharif,Rice,5600.0,7400.0,1.321429
32,Maharashtra,AHMEDNAGAR,1998.0,kharif,Sesamum,900.0,300.0,0.333333
...,...,...,...,...,...,...,...,...
603,Maharashtra,AKOLA,2002.0,kharif,Cotton(lint),222900.0,224600.0,1.007627
604,Maharashtra,AKOLA,2002.0,kharif,Jowar,83100.0,162500.0,1.955475
605,Maharashtra,AKOLA,2002.0,kharif,Maize,500.0,1000.0,2.000000
606,Maharashtra,AKOLA,2002.0,kharif,Moong(Green Gram),64300.0,26100.0,0.405910
607,Maharashtra,AKOLA,2002.0,kharif,Other Kharif pulses,900.0,100.0,0.111111
608,Maharashtra,AKOLA,2002.0,kharif,Sesamum,1800.0,400.0,0.222222
609,Maharashtra,AKOLA,2002.0,kharif,Soyabean,27200.0,40900.0,1.503676
610,Maharashtra,AKOLA,2002.0,kharif,Sunflower,1500.0,800.0,0.533333
611,Maharashtra,AKOLA,2002.0,kharif,Urad,15200.0,7300.0,0.480263
612,Maharashtra,AKOLA,2002.0,rabi,Gram,24300.0,16100.0,0.662551
613,Maharashtra,AKOLA,2002.0,rabi,Jowar,100.0,100.0,1.000000
614,Maharashtra,AKOLA,2002.0,rabi,Rapeseed &Mustard,100.0,10.0,0.100000
615,Maharashtra,AKOLA,2002.0,rabi,Safflower,2200.0,1200.0,0.545455
616,Maharashtra,AKOLA,2002.0,rabi,Sunflower,1000.0,500.0,0.500000
617,Maharashtra,AKOLA,2002.0,rabi,Wheat,10300.0,15800.0,1.533981
618,Maharashtra,AKOLA,2002.0,kharif,Groundnut,900.0,1800.0,2.000000
619,Maharashtra,AKOLA,2002.0,kharif,Sunflower,600.0,600.0,1.000000
620,Maharashtra,AKOLA,2002.0,Whole Year,Sugarcane,400.0,28000.0,70.000000
621,Maharashtra,AKOLA,2003.0,kharif,Arhar/Tur,51000.0,43500.0,0.852941
622,Maharashtra,AKOLA,2003.0,kharif,Bajra,1900.0,900.0,0.473684
623,Maharashtra,AKOLA,2003.0,kharif,Cotton(lint),217700.0,199000.0,0.914102
624,Maharashtra,AKOLA,2003.0,kharif,Groundnut,100.0,100.0,1.000000
625,Maharashtra,AKOLA,2003.0,kharif,Jowar,82300.0,161300.0,1.959903
626,Maharashtra,AKOLA,2003.0,kharif,Maize,700.0,1500.0,2.142857
627,Maharashtra,AKOLA,2003.0,kharif,Moong(Green Gram),64300.0,30100.0,0.468118
628,Maharashtra,AKOLA,2003.0,kharif,Other Kharif pulses,500.0,200.0,0.400000
629,Maharashtra,AKOLA,2003.0,kharif,Sesamum,3000.0,800.0,0.266667
630,Maharashtra,AKOLA,2003.0,kharif,Soyabean,30800.0,37500.0,1.217532
631,Maharashtra,AKOLA,2003.0,kharif,Sunflower,1100.0,400.0,0.363636
632,Maharashtra,AKOLA,2003.0,kharif,Urad,18600.0,10900.0,0.586022

In [157]:
dist_List = df_Csv.District_Name.unique()
crop_List = df_Csv.Crop.unique()

for i in dist_List:
    for j in crop_List:
        df_Sub = df_Csv[(df_Csv.District_Name == i) & (df_Csv.Crop == j)]
        df_Sub_Dict = df_Sub.to_dict("list")
        
        if len(df_Sub_Dict["Yield"]) > 5:
            df_Sub_Dict["Yield"] = ZSClean(df_Sub_Dict["Yield"])
            #for j in range(0, len(df_Sub_Dict["Crop_Year"])-1):
                #if df_Sub_Dict["Crop_Year"][j] == df_Sub_Dict["Crop_Year"][j+1]:
                    #df_Sub_Dict["Area"][j] += df_Sub_Dict["Area"][j+1]
                    #df_Sub_Dict["Production"][j] += df_Sub_Dict["Production"][j+1]
                    #df_Sub_Dict["Area"][j+1] = np.nan
                    #df_Sub_Dict["Production"][j+1] = np.nan   

print(df_Sub_Dict["Yield"])

C:\Users\amogh\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\amogh\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in greater
C:\Users\amogh\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: RuntimeWarning: divide by zero encountered in double_scalars

[]

In [152]:
df_Sub = df_Csv[(df_Csv.District_Name == "AKOLA") & (df_Csv.Crop == "Jowar")]
df_Sub_Dict = df_Sub.to_dict("list")
for j in range(0, len(df_Sub_Dict["Crop_Year"])-1):
    if df_Sub_Dict["Crop_Year"][j] == df_Sub_Dict["Crop_Year"][j+1]:
        df_Sub_Dict["Area"][j] += df_Sub_Dict["Area"][j+1]
        df_Sub_Dict["Production"][j] += df_Sub_Dict["Production"][j+1]
        df_Sub_Dict["Area"][j+1] = np.nan
        df_Sub_Dict["Production"][j+1] = np.nan
        df_Sub

df_Sub_Dict

{'State_Name': ['Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra',
  'Maharashtra'],
 'District_Name': ['AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA',
  'AKOLA'],
 'Crop_Year': [1997.0,
  1997.0,
  1998.0,
  1998.0,
  1999.0,
  2000.0,
  2000.0,
  2001.0,
  2001.0,
  2002.0,
  2002.0,
  2003.0,
  2003.0,
  2004.0,
  2004.0,
  2006.0,
  2006.0,
  2007.0,
  2008.0,
  2008.0,
  2009.0,
  2009.0,
  2010.0,
  2010.0,
  2011.0,
  2011.0,
  2012.0,
  2013.0,
  2014.0],
 'Season': ['kharif',
  'rabi',
  'kharif',
  'rabi',
  'kharif',
  'kharif',
  'rabi',
  'kharif',
  'rabi',
  'kharif',
  'rabi',
  'kharif',
  'rabi',
  'kharif',
  'rabi',
  'kharif',
  'rabi',
  'kharif',
  'kharif',
  'rabi',
  'kharif',
  'rabi',
  'kharif',
  'rabi',
  'kharif',
  'rabi',
  'kharif',
  'kharif',
  'kharif'],
 'Crop': ['Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar',
  'Jowar'],
 'Area': [197000.0,
  nan,
  166900.0,
  nan,
  87800.0,
  86300.0,
  nan,
  85300.0,
  nan,
  83200.0,
  nan,
  82400.0,
  nan,
  82300.0,
  nan,
  84600.0,
  nan,
  718.0,
  46700.0,
  nan,
  52500.0,
  nan,
  51300.0,
  nan,
  40700.0,
  nan,
  41600.0,
  36800.0,
  12500.0],
 'Production': [291000.0,
  nan,
  244400.0,
  nan,
  133500.0,
  142600.0,
  nan,
  121200.0,
  nan,
  162600.0,
  nan,
  161400.0,
  nan,
  108400.0,
  nan,
  205900.0,
  nan,
  2104.0,
  103000.0,
  nan,
  85300.0,
  nan,
  39500.0,
  nan,
  124400.0,
  nan,
  71800.0,
  21800.0,
  15100.0],
 'Yield': [1.4984504132231404,
  0.2647058823529412,
  1.4716525934861278,
  0.3636363636363637,
  1.520501138952164,
  1.6550522648083623,
  0.5,
  1.4213615023474178,
  1.0,
  1.9554753309265944,
  1.0,
  1.959902794653706,
  1.0,
  1.3175182481751824,
  1.0,
  2.4355029585798817,
  1.0,
  2.930362116991644,
  2.210752688172043,
  1.0,
  1.6259541984732824,
  1.0,
  0.76953125,
  1.0,
  3.0615763546798034,
  1.0,
  1.7259615384615383,
  0.592391304347826,
  1.208]}

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Yield
498,Maharashtra,AKOLA,1997.0,kharif,Jowar,193600.0,290100.0,1.498450
505,Maharashtra,AKOLA,1997.0,rabi,Jowar,3400.0,900.0,0.264706
514,Maharashtra,AKOLA,1998.0,kharif,Jowar,165800.0,244000.0,1.471653
526,Maharashtra,AKOLA,1998.0,rabi,Jowar,1100.0,400.0,0.363636
540,Maharashtra,AKOLA,1999.0,kharif,Jowar,87800.0,133500.0,1.520501
562,Maharashtra,AKOLA,2000.0,kharif,Jowar,86100.0,142500.0,1.655052
572,Maharashtra,AKOLA,2000.0,rabi,Jowar,200.0,100.0,0.500000
583,Maharashtra,AKOLA,2001.0,kharif,Jowar,85200.0,121100.0,1.421362
593,Maharashtra,AKOLA,2001.0,rabi,Jowar,100.0,100.0,1.000000
604,Maharashtra,AKOLA,2002.0,kharif,Jowar,83100.0,162500.0,1.955475
613,Maharashtra,AKOLA,2002.0,rabi,Jowar,100.0,100.0,1.000000
625,Maharashtra,AKOLA,2003.0,kharif,Jowar,82300.0,161300.0,1.959903
634,Maharashtra,AKOLA,2003.0,rabi,Jowar,100.0,100.0,1.000000
649,Maharashtra,AKOLA,2004.0,kharif,Jowar,82200.0,108300.0,1.317518
658,Maharashtra,AKOLA,2004.0,rabi,Jowar,100.0,100.0,1.000000
691,Maharashtra,AKOLA,2006.0,kharif,Jowar,84500.0,205800.0,2.435503
699,Maharashtra,AKOLA,2006.0,rabi,Jowar,100.0,100.0,1.000000
712,Maharashtra,AKOLA,2007.0,kharif,Jowar,718.0,2104.0,2.930362
734,Maharashtra,AKOLA,2008.0,kharif,Jowar,46500.0,102800.0,2.210753
743,Maharashtra,AKOLA,2008.0,rabi,Jowar,200.0,200.0,1.000000
754,Maharashtra,AKOLA,2009.0,kharif,Jowar,52400.0,85200.0,1.625954
763,Maharashtra,AKOLA,2009.0,rabi,Jowar,100.0,100.0,1.000000
773,Maharashtra,AKOLA,2010.0,kharif,Jowar,51200.0,39400.0,0.769531
782,Maharashtra,AKOLA,2010.0,rabi,Jowar,100.0,100.0,1.000000
790,Maharashtra,AKOLA,2011.0,kharif,Jowar,40600.0,124300.0,3.061576
799,Maharashtra,AKOLA,2011.0,rabi,Jowar,100.0,100.0,1.000000
809,Maharashtra,AKOLA,2012.0,kharif,Jowar,41600.0,71800.0,1.725962
825,Maharashtra,AKOLA,2013.0,kharif,Jowar,36800.0,21800.0,0.592391
840,Maharashtra,AKOLA,2014.0,kharif,Jowar,12500.0,15100.0,1.208000